.left-column
  %h2 We're making one aspect of life easier for parents of multiples:
  #small_owl
    = image_tag "homepage/owl_44_44.png"
    %h3 buying and selling gently used sets of clothes!

  #shop_now= link_to "Shop Now!", auctions_path, class: "button primary"

.right-column
  #child_images
    = image_tag "children/twins.jpg"
    = image_tag "children/triplets.jpg"
    = image_tag "children/quads.jpg"
